

.icon-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:100%;
    list-style: none;
    // margin-left: 10px;
    justify-content: space-evenly;
    padding: 15px 0;

    .icon {

    }
}