

.project-list-item-li {
    margin:20px;
    width:400px;
    height:300px;
    border: 2px solid black;

    .project-list-item-div {
        width: 100%;

        .top-div {
            height: 150px;
            width: 396px;
            // background: blue;

            .image {
                z-index: 1;
                width: 396px;
                height:150px;
                background: green;
            }
        }

        .bottom-div {
            // text-align: center;
            height: 100px;
            background:yellow;
            .project-list-item-h3 {
                margin:0 auto;
                text-align: center;
            }
            .project-icons {
                text-align: center;
                padding:7px;
            }
            .blurb {
                padding:7px;
            }
            .project-api {
                padding:7px;
            }
        }
    }

}