
.connect {
    padding-top: 3em;
    overflow: hidden;
    margin: 0 auto;
    min-height: calc(100vh - 175px) !important;
    max-width: 100vw;
    .header {
        // font-size: 75px;
        font-size: (100vw / 10);
        padding: 40px;
    }
    .connect-div {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
            padding: 20px;
        }
    }
}

@media (max-width: 960px) {
    #root > section > div > div > a > img  {
        width: calc(100vw / 3);
    }
}

@media (min-width: 960px) {
    .connect {
        overflow: hidden;
        max-height: calc(100vh - 175px);
    }

}