
.about-section {
margin: 0;
padding: 0;
// width:95vw;
overflow: hidden;
}

.about-me {
    display: flex;
    // width: 95vw;
    margin: 0 auto;
    // display: flex;
    margin: 1em;
    justify-content: center;

    .about-img {
        margin-top: 210px;
        height: 400px;
        border: 3px solid black;
    }
    .about-span {
        display: flex;
        flex-direction: column;

        .about-me-title {
            font-weight: 600;
            font-size: 65px;
            margin: 0.5em;
        }
        .subtitle {
            font-size: 30px;
            margin: 1em;
            font-weight: 600;
        }
        .about-p {
            line-height: 30px;
            margin: 1.5em;
            font-size: 20px;
        }
        .resume-btn {
            width: 200px;
            height: 75px;
            font-size: 25px;   
            // box-shadow: 2px 2px 4px 2px  black;
            border: 2px solid black;
            background: white;
            margin: 0 auto;
    
        }
        .resume-btn:hover {
            cursor: pointer;
            background: black;
            color: white;
        }

    }
}

// section 2, skills

.skills-and-interests {
    margin: 1em;
    margin-top: 10em;
    margin-left: 5em;
    .skills {

        > p {
            font-size: 65px;
            font-weight: 600;
        }
        .backend {
            margin-top: 3em;
        }

        .frontend {

        }

        .skills-p {
            font-size: 31px;
        }
        .ul {
            list-style: none;
            margin: 3em;
            display: flex;
            flex-direction: row;
            width: 70vw;
            justify-content: space-evenly;

            > li > img {
                width: 58px;
                height: 58px;
            }
        }
        
    }

    // interests
    .interests {

        .interests-p {
            font-size: 65px;
            font-weight: 600;
        }

        .interests-ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            max-width: 90vw;
            flex-wrap: wrap;

            > li {
                padding: 1em;
                font-size: 35px;
            }
        }

    }
}


@media (max-width: 1200px){

    .about-me {
        flex-direction: column;

        .about-img {
            max-width: 500px;
            margin: 0 auto;
        }
    }
}