.home {
    margin: 0;
    padding: 0;

    .background-img {
        position: relative;
        width:100vw;
        height:calc(100vh - 78px);
    }
    .home-content{
        color: white;
        position: absolute;
        // top:calc(100vh-10px);
        top:30%;
        left:20%;
        > h1 {
            font-size: 100px;
        }
        > h3 {
            margin-top: 30px;
            font-size: 50px;
        }
    }
}