* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: black;
    height:75px;
    position: relative;

    .nav-home {
        width:60%;
        color: white;
        display: flex;
        align-items: center;

        .nav-home-a {
            margin-left: 60px;
            color: white;
            text-decoration: none;
            > p {
                padding: 24px;
            }
            :hover{
                box-shadow:  0 0 0 5px white;
            }
        }
    }
    .nav-ul {
        width: 40%;
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: flex-end;

        .nav-a {
            text-align: center;
            padding: 24px;
            // margin:26px;
            flex: 1;
            text-decoration: none;
            color: white;
            // border:2px solid white;
        }
        .nav-a:last-child {
            margin-right: 60px;
        }
        .nav-a:hover{
            box-shadow:  0 0 0 5px white;
            overflow: hidden;
        }
    }
}