
.footer {
    bottom: 0 !important;
    height: 100px;
    background: rgba(128, 128, 128, 0.411);

    ul {
        height:100%;
        display: flex;
        align-items: center;
        list-style: none;
        justify-content: space-evenly;
    }
}

@media (max-width: 650px){
    .footer {

        ul {
            font-size: 12px;
        }
    }
}

@media (max-width: 500px){
    .footer {
        height: 200px;

        ul {
            flex-direction: column;
        }
    }
}